html {
	width: 100%;
	font-family: 'Helvetica', Arial, serif;
	font-weight: lighter;
}

body {
	width: 100%;
	position: absolute;
	margin: 0px ! important;
	background-color: #1AA1ED;
	padding-bottom: 30px;
}

.title {
	margin-top: 25px;
	margin-bottom: 15px; 
	color : white;
	text-align: center;
	font-size: 2em;
}

.title p {
	margin-top: 0;
}

#logo {
	height: 35px;
	margin-bottom: 0;
}

.inherit {
	color: inherit;
}

#libraries {
	width : 80%;
	margin: 10px auto;
	background-color: white;
	border-radius: 10px;
	color: #1AA1ED;
	min-height: 600px;
	padding: 0;
	padding-bottom: 35px;
}

.inner-library {
	padding-top: 35px;
	padding-bottom: 30px;
}

.library {
	list-style: none;
	margin-bottom: 5px;
	padding: 0 5%;
}

.name {
	display: inline-block;
	float: left;
	font-size: 4.6vw;
	margin-bottom: 0;
	padding-top: 2px;
/*	line-height: 1em;
*/	width: 77%;
	white-space:nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
}

.time {
	margin-top: 0;
	font-size: .7em;
	color: #898989;
}

.meta {
	text-align: right;
	display: inline-block;
	width : 23%;
	float : right;
}

.divider {
	clear: both;
	width: 90%;
	display: block;
	top: 5px;
	position: relative;
    height: 2px;
    border: 0;
    background-color: #1AA1ED;
}

.libpage {
	color: inherit;
}

.close {
	color: #FA4F4E !important;
} 

.open {
	color: #66D862 !important;
}

.soon {
	color: #FAED18 !important;
}

.circ {
	width : 10%;
	font-size: 2em;
	margin-top: 0;
	margin: 0 10px;
	margin-right: 18px;
	color: white;
}

.link {
	margin-top: 0;
	margin: 0 7px !important;
	width : 10%;
}

@media screen and (min-width: 480px) {
    .name {
        font-size: 1.7em;
    }
}

